@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
background-color: #f4f4f4db;
font-size: "montserrat", sans-serif;
text-align: center;
}

img {
    display:block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
}
h3 {
    text-align: center;
    color: #7598A6;
    font-family: 'Jaro', serif;
}
#iam {
    font-size: 40px;
}
ul {
    padding: 0;
    list-style: none;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
table {
    border: 1px solid #a9a9a9;
    background-color: #B7C9D0;
    width: 600px;
    margin: 0 auto;
}
th, td {
    border: 1px solid #a9a9a9;
    padding: 10px;
    text-align: center;
}   
#figma {
    font-size: 24px;
    color: #FFA500;
}
#wordpress {
    font-size: 24px;
    color: #FFA500;
}
#seo {
    font-size: 24px;
    color: #FFA500;
}
a {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
a:hover {
    background-color: #7598A6;
    color: white;
}
hr {
    margin: 30px auto;
    width: 80%;
    border: 1px solid #a9a9a9;
}